:root {
  --color-text-dark: #486683;
  --color-text-light: #a3a8af;
  --color-background: #e1eaf4;

  font-size: 62.5%;
}

/* /////////////////////
      GLOBAL
//////////////////// */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;

  background: var(--color-background);

  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text-light);

  width: 100vw;
  min-height: 100vh;
}

/* /////////////////////
      CONTAINER
//////////////////// */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background: #fff;

  width: 80%;
  max-width: 1000px;

  overflow: hidden;
}

/* /////////////////////
      HEADER
//////////////////// */

.header__img {
  max-width: 400px;
  min-width: 331px;

  margin-right: auto;
}

/* /////////////////////
      MAIN
//////////////////// */

.main--container {
  max-width: 540px;

  padding: 3rem;

  margin-right: auto;
}

.article__heading {
  color: var(--color-text-dark);
  font-size: 1.8rem;
}

.article__text {
  font-size: 1.5rem;
  line-height: 1.5;

  margin-bottom: 3rem;
}

/* /////////////////////
      PROFILE
//////////////////// */

.profile {
  display: flex;
  align-items: center;
}

.profile__img {
  width: 40px;
  border-radius: 100%;
}

.profile__text {
  margin-left: 2rem;
}

.profile__name {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--color-text-dark);
}

.profile__date {
  font-size: 1.2rem;
}

.profile__icon {
  margin-left: auto;

  font-size: 2rem;

  background: var(--color-background);
  color: var(--color-text-dark);

  padding: 1rem;

  border-radius: 100%;
}
